---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import ContactForms from "../components/ContactForms.astro";
import FullWidthLayout from "../layouts/FullWidthLayout.astro";
---

<FullWidthLayout>
  <div class="relative inset-x-0 bg-[rgb(244,246,252)] inset-y-0"></div>
  <div class="py-8 max-w-5xl mx-auto px-8 xl:px-0">
    <Banner title="CONTACTO" imageSrc="/img/22.webp" imageAlt="Contactanos" />
    <ContactForms />
  </div>
</FullWidthLayout>
