---
import "aos/dist/aos.css";
---

<div class="max-w-7xl mx-auto pt-8">
  <section class="px-4 py-12 bg-white">
    <div class="flex flex-col md:flex-row gap-6 items-center" data-aos="fade-up">
      <div class="md:w-1/2">
        <div class="relative bg-pantone-320 rounded-3xl">
          <div class="w-full max-w-md">
            <img
              src="/src/assets/img/11.webp"
              alt="Foto Fundadora"
              class="w-full rounded-3xl transform -translate-x-3 -translate-y-3"
            />
          </div>
        </div>
      </div>
      <div class="md:w-1/2" data-aos="fade-up">
        <h1 class="text-pantone-281 text-4xl font-extrabold mb-6">Estamos liderados por nuestra fundadora</h1>
        <p class="text-lg text-gray-800 leading-relaxed">
          Una <b class="text-pantone-281">Psicóloga Especialista en Seguridad y Salud en el Trabajo,</b> con más de 10 años
          de experiencia en el ámbito psicosocial desde la etapa inicial de la identificación del riesgo, pasando por la
          medición del mismo a través del instrumento creado por el ministerio de trabajo con la universidad javeriana de
          colombia, mejor conocido como <b class="text-pantone-281"> "batería de riesgo psicosocial"</b>
          y proyectando medidas de intervención o prevención acordes a las necesidades puntuales de cada empresa.
        </p>
        <br />
        <p class="text-lg text-gray-800 leading-relaxed">
          Nuestros conocimientos y trayectoria nos permiten <b class="text-pantone-281"
            >ofrecer soluciones efectivas que promuevan entornos laborales saludables y productivos.</b
          >
        </p>
      </div>
    </div>
  </section>
</div>

<script>
  import AOS from "aos";
  AOS.init();
</script>
