<section class="relative w-full py-8">
  <!-- Fondo que se extiende a toda la página -->
  <div class="absolute inset-0 w-full bg-[rgb(244,246,252)]"></div>

  <!-- Contenedor con el tamaño del layout -->
  <div class="relative max-w-5xl mx-auto px-8 xl:px-0 py-8">
    <div class="flex flex-col md:flex-row items-start gap-8">
      <div class="w-full md:w-1/2" data-aos="fade-up">
        <h1 class="text-pantone-281 text-4xl font-extrabold mb-6">
          Impacto de los riesgos psicosociales
        </h1>

        <p class="text-xl text-gray-800 mb-8">
          Cuando no se gestionan adecuadamente, estos riesgos pueden generar:
        </p>

        <div class="bg-white rounded-3xl shadow-sm p-8 relative md:z-10">
          <ul class="space-y-4 text-lg text-gray-800">
            <li class="flex items-start" data-aos="fade-up">
              <span class="mr-2 text-[#061d56] font-bold">•</span>
              Estrés laboral crónico.
            </li>
            <li
              class="flex items-start"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <span class="mr-2 text-[#061d56] font-bold">•</span>
              Ansiedad y depresión.
            </li>
            <li
              class="flex items-start"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <span class="mr-2 text-[#061d56] font-bold">•</span>
              Baja productividad y aumento del ausentismo.
            </li>
            <li
              class="flex items-start"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <span class="mr-2 text-[#061d56] font-bold">•</span>
              Problemas de salud física, como hipertensión o trastornos del sueño,
              entre otros.
            </li>
            <li
              class="flex items-start"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <span class="mr-2 text-[#061d56] font-bold">•</span>
              Incremento de la rotación de personal.
            </li>
          </ul>
        </div>
      </div>

      <!-- Imagen -->
      <div
        class="w-full h-full md:w-1/2 relative flex-col justify-center"
        data-aos="fade-up"
      >
        <img
          src="/src/assets/img/Foto.jpg"
          alt="Teamwork"
          class="w-full h-full object-cover"
        />
      </div>
    </div>
  </div>

  <!-- Barra azul que se extiende a todo el ancho -->
  <div class="absolute inset-x-0 w-full bg-[#061d56] h-24 -mt-8 bottom-0"></div>
</section>
