---
// Componente para la sección de "¿Qué es el riesgo psicosocial?"
---

<div id="container" class="">
  <section class="py-12 bg-white">
    <div class="flex flex-col md:flex-row gap-6 items-center">
      <div class="md:w-1/2">
        <div class="relative bg-pantone-320 rounded-3xl">
          <div class="w-full max-w-md">
            <img
              src="/src/assets/img/2.webp"
              alt="Profile silhouette with puzzle pieces"
              class="w-full rounded-3xl transform3333 -translate-x-3 -translate-y-3"
            />
          </div>
        </div>
      </div>
      <div class="md:w-1/2">
        <h1 class="text-pantone-281 text-4xl font-extrabold mb-6">¿Qué es el riesgo psicosocial?</h1>
        <p class="text-lg text-gray-800 leading-relaxed">
          El riesgo psicosocial se refiere a las condiciones del entorno laboral que pueden afectar la salud mental,
          emocional y física de los trabajadores. Estas condiciones incluyen factores como la carga laboral excesiva, el
          acoso laboral, la falta de reconocimiento, las relaciones conflictivas o la inseguridad en el trabajo.
        </p>
      </div>
    </div>
  </section>
</div>
